@use "../../../styles/index.scss" as *;

.board{
    display: flex;
    gap: 20px;
    h4{
        @include font-style(1.5rem, "Bold");
    }
    .column{
        width: 350px;
        min-height: 200px;
        & > div{
        background-color: $color-block;
        padding: $padding-space *0.6;
        border-radius: $borde-radius;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        }
    }
}