@use "../../../styles//index.scss" as *;
.taskDetails{
    background-color: $color-block;
    padding: $padding-space *0.6;
    border-radius: $borde-radius;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    .content{
        min-width: 300px;
        & > p,input{
            padding: 0;
            border: none;
            @include font-style(2rem,"Regular");
        }
        .body{
            span{
                @include font-style(0.8rem,"Regular");
            }
            p,input,textarea{
            padding: 0;
            border: none;
            @include font-style(1rem,"Regular");
        }
        }
    }
}