/*
#########################
    SCSS MIXINS
#########################
*/

:root {
    --color-primary:#8461E5;
    --color-primary-hover:#987de0;
    --color-secondary:#D6CAF7;
    --color-secondary-hover: #f9fafb;
    --color-tertiary:rgb(72, 72, 72);
    --color-accent:rgb(72, 72, 72);
    --color-bg:#0D0E16;
    --color-block:#15171D;
    --color-card:#13141A;
    --color-gradient-block:linear-gradient(0deg,rgba(13, 14, 22, 1) 0%, rgba(21, 23, 29, 1) 100%);
    --color-border:rgba(255, 255, 255, 0.288);
    --color-status:#E6AA68;
    --margin: 1rem
}

// // the dark theme, set by a hook
// [data-theme='dark'] {
//   --color-primary: #60a5fa;
//   --color-primary-hover: #3b82f6;
//   --color-bg: #111827;
//   --color-text: #f9fafb;
// }
// // the dark theme, set by a hook
// [data-theme='light'] {
//   --color-primary: #60a5fa;
//   --color-primary-hover: #3b82f6;
//   --color-bg: #111827;
//   --color-text: #f9fafb;
// }
